# =====================================
# Smart Campus Management System
# =====================================

# Java / Maven
target/
*.class
*.jar
*.war
*.nar
*.ear

# Maven temporary files
.mtj.tmp/

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Frontend dependencies
frontend/node_modules/

# Environment variables
.env

# OS files
Thumbs.db
.DS_Store